.home .arrow-15 {
    transform: rotate(-53.241deg);
    width: 18px;
    height: 0px;
  }
  .home {
    background: #0C0D0D;
    display: flex;
    padding: 32px 139.9px 0 50px;
    width: 1440px;
    box-sizing: border-box;
  }
  .home .rectangle-1 {
    border-radius: 20px;
    background: url('assets/images/Rectangle2.jpeg');
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 611px;
    height: 568px;
  }
  .home .block {
    margin-bottom: 116px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .home .expense-log {
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
  }
  .home .block-1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .home .text {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .home .manage-your-finances-masterfully {
    margin: 0 43.6px 18px 0;
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -1.1px;
    color: #FAFAFA;
  }
  .manage-your-finances-masterfully-sub1 {
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -1.1px;
    line-height: 1.333;
    color: #0EF387;
  }
  .manage-your-finances-masterfully-sub2 {
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 56px;
    text-decoration-line: underline;
    letter-spacing: -1.1px;
    line-height: 1.333;
    color: #0EF387;
  }
  .home .expense-tracker-effortlessly-empowers-you-to-take-control-of-your-finances-with-intuitive-features-it-simplifies-the-process-of-tracking-and-managing-expenses-allowing-for-astress-free-mastery-over-your-financial-world {
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: rgba(250, 250, 250, 0.4);
  }
  .home .btns {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 302px;
    box-sizing: border-box;
  }
  .home .sign-up {
    border-radius: 40px;
    background: #0EF387;
    margin-right: 20px;
    display: flex;
    padding: 14px 10.8px 14px 0;
    width: 145px;
    box-sizing: border-box;
  }
  .home .sign-up-1 {
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: #0C0D0D;
  }
  .home .sign-in {
    border-radius: 40px;
    border: 1px solid rgba(250, 250, 250, 0.4);
    display: flex;
    padding: 13px 7.9px 13px 0;
    width: 137px;
    box-sizing: border-box;
  }
  .home .sign-in-1 {
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: #FAFAFA;
  }
  .home .users {
    margin-left: 503.6px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .home .images {
    position: relative;
    margin: 0 32px 34px 0;
    display: flex;
    width: 125px;
    height: 48px;
    box-sizing: border-box;
  }
  .home .image {
    border-radius: 40px;
    border: 2px solid #11101C;
    background: var(--avatar-user-square-amanda-loweryneutral-background, url('assets/images/Image1.png') 50% / cover no-repeat, linear-gradient(#E0E0E0, #E0E0E0));
    position: relative;
    width: 48px;
    height: 48px;
  }
  .home .image-1 {
    border-radius: 40px;
    border: 2px solid #11101C;
    background: var(--avatar-user-square-ethan-valdezneutral-background, url('assets/images/Image2.png') 50% / cover no-repeat, linear-gradient(#E0E0E0, #E0E0E0));
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    width: 48px;
    height: 48px;
  }
  .home .image-2 {
    border-radius: 40px;
    border: 2px solid #11101C;
    background: var(--avatar-user-square-fleur-cookneutral-background, url('assets/images/Image.png') 50% / cover no-repeat, linear-gradient(#E0E0E0, #E0E0E0));
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 48px;
    height: 48px;
  }
  .home .text-1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .home .users-1 {
    margin-bottom: 11px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -0.6px;
    color: #FAFAFA;
  }
  .home .trusted-by-users-for-reliable-expense-tracking {
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: rgba(250, 250, 250, 0.4);
  }
  .home .block-2 {
    border-radius: 20px;
    background: #FAFAFA;
    position: relative;
    margin: 315px 412px 0 0;
    display: flex;
    flex-direction: row;
    padding: 32px 23px 35px 23px;
    box-sizing: border-box;
  }
  .home .text-2 {
    margin-right: 42.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .home .your-balance {
    margin: 0 10.1px 7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: rgba(17, 16, 28, 0.5);
  }
  .home .container {
    overflow-wrap: break-word;
    font-family: 'Suisse Int'l', 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    color: #11101C;
  }
  .home .container-1 {
    overflow-wrap: break-word;
    font-family: 'Suisse Intl', 'Roboto Condensed';
    font-weight: 400;
    font-size: 12px;
    color: #02B15A;
  }
  .home .logo {
    margin: 0 0 77px 46px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .home .icon {
    margin: 5px 8px 2px 0;
    display: flex;
    width: 27px;
    height: 16px;
    box-sizing: border-box;
  }
  .home .group {
    width: 27px;
    height: 16px;
  }
  .home .expense-tracker {
    overflow-wrap: break-word;
    font-family: 'Suisse Int'l', 'Roboto Condensed';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #FAFAFA;
  }
  .home .container {
    border-radius: 13px;
    background: #0EF387;
    position: relative;
    margin: 7px 22px 4px 0;
    display: flex;
    padding: 14px 16.2px 14.6px 16px;
    width: 43px;
    height: 43px;
    box-sizing: border-box;
  }
  .home .container-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .home .container-2 {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .home .container-3 {
    border-radius: 13px;
    background: rgba(2, 177, 90, 0.15);
    position: relative;
    margin: 30px 0 2px 0;
    display: flex;
    padding: 4px 15.5px 4px 8px;
    box-sizing: border-box;
  }