.containerMain {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logoIcon {
    width: 27px;
    height: 16px;
    
}

.logo {
    display: flex;
   
    align-items: center;
    justify-content: center;

}

.logoName {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.94px;
    letter-spacing: -0.02em;
    
    padding-left: 5px;
    
  }
